<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/static/StyleSheet.css" rel="stylesheet" />
	<meta charset="utf-8" /> 
</head>
<body>
    <div id="container">
        <input id="R1" type="radio" name="a" /> 
        <a>Homepage</a>
        <input id="R2" type="radio" name="a" />
        <a>SIT 223</a>
        <input id="R3" type="radio" name="a" />
        <a>SIT 321</a>
        <input id="R4" type="radio" name="a" />
        <a>SIT 374</a>
        <input id="R5" type="radio" name="a" />
        <a>SIT 302</a>  
    <div class="section-scroll">
         <section id="a">
            <i class="an">
                <img src="img/1.jpg"  />
            </i>
             	<h1>My profile</h1>
			<p align="center">
			</br>Qingyu Wu</br>
			</br>ID:217199113</br>
			</br>Lecturer Of Info.teach.</br>
			</p>
         
        </section>
        <section id="k">
            <em class="an">
                <img src="img/223.jpg">
            </em>
            <h1>
			SIT 223</br>Professional Practice In Information Technology</br>
			</h1>
           	<p align="center">
			<a href="/student/">
			</br>Student List
			</a>
			</p>
        </section>
        <section id="K">
            <i class="an">
					<img src="img/321.jpg" />
				</a>
            </i>
            <h1>
			SIT 321</br>Software Engineering Methods<br>
			</h1>
			<p align="center">
           	<a href="http://baike.baidu.com/link?url=jN-_S4CBXbipmn3veZWBw8Xh3W7tBIRsbu7vSHRpdJLlIwwD7RUMmZ_-L65pH933tl6B-muDOFqpfC7T7zj4HO-5V-n3MdazBpBLj1M0D-2Ym55ikGJlom7K64t58HW8">
			</br>Student List
			</a>
			</p>
        </section>
        
		<section id="p">
            <i class="an">
                <img src="img/374.jpg" />
            </i>
            <h1>SIT 374</br>Project Design</br></h1>
			<p align="center">
           	<a href="http://baike.baidu.com/link?url=jN-_S4CBXbipmn3veZWBw8Xh3W7tBIRsbu7vSHRpdJLlIwwD7RUMmZ_-L65pH933tl6B-muDOFqpfC7T7zj4HO-5V-n3MdazBpBLj1M0D-2Ym55ikGJlom7K64t58HW8">
			</br>Student List
			</a>
			</p>
        </section>
        <section id="r">
            <i class="an">
			<img src="img/050.jpg" />
            </i>
            <h1>STP 050</br>Academic Integrity</br></h1>
			<p align="center">
           	<a href="http://baike.baidu.com/link?url=jN-_S4CBXbipmn3veZWBw8Xh3W7tBIRsbu7vSHRpdJLlIwwD7RUMmZ_-L65pH933tl6B-muDOFqpfC7T7zj4HO-5V-n3MdazBpBLj1M0D-2Ym55ikGJlom7K64t58HW8">
			</br>Student List
			</a>
			</p>
        </section>
        
        </div>
       
    </div>
      

</body>
</html>
